################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/*/obj
**/*/bin
/terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
/.vs/PostyFox
/.vs/ProjectEvaluation
/.vs
